<div class="center_text" id="refs">


  <h3>References</h3>
    <span><%= link_to "hide", hide_refs_path, remote: true %></span>
  <h4>Testing 1</h4>
    <p>111.111.1111</p>
    <p>testing@testing.com</p>

</div>
