<h1>Projects Index</h1>

<% if @projects.any? %>
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <ul>
        <% @projects.each do |project| %>
          <li><%= link_to project.name, project_path(project) %> |
            <%= link_to "E", edit_project_path(project), class: "btn btn-xs btn-primary"  %> |
            <%= link_to "D", project_path(project), class: "btn btn-xs btn-danger", :data => {:confirm => "Are you sure?", :method => "delete"} %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% else %>
    <ul>
      <% @projects.each do |project| %>
        <li><%= link_to project.name, project_path(project) %></li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <p>No projects have been added so far.</p>
<% end %>
