<h3>Chris Sefkin</h3>
<ul>
  <li>E-Mail:  <a href="mailto:c.sefkin@gmail.com">c.sefkin@gmail.com</a></li>
  <li>Cell:  503.307.8579</li>
  <li>LinkedIn:  <a href="https://www.linkedin.com/in/chrissefkin">chrissefkin</a></li>
  <li>GitHub:  <a href="http://github.com/c-sefkin">c-sefkin</a></li>
</ul>
